<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  data-theme="coffee">
<head>
<title>Menu | CafeTec</title>
<!-- Estilos DaisyUI + Tailwind CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
  rel="stylesheet"
  type="text/css" />
<script src="https://cdn.tailwindcss.com">
    tailwind.config = {
        theme : {},
        daisyui : {
            themes : [ "coffee" ]
        }
    }
</script>
</head>
<body class="overflow-x-hidden">
  <nav class="navbar bg-base-100 shadow-md gap-5">
    <div class="flex-1">
      <a
        class="btn btn-ghost rounded-none normal-case text-xl flex justify-start"
        th:href="@{/menu}">CafeTec | Menu</a>
    </div>
    <div class="flex flex-none gap-5 items-center pr-5">
      <details
        id="carritoDropdown"
        class="dropdown dropdown-end">
        <summary
          id="toggleCart"
          class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
                        <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
            <span
              th:text="${cant_carrito}"
              class="badge badge-sm badge-primary indicator-item"></span>
          </div>
        </summary>
        <!-- Carrito de compras -->
        <div
          class="card card-compact dropdown-content bg-base-300 z-[1] mt-3 w-max shadow">
          <div
            class="card-header flex justify-between items-center p-4 border-b">
            <h5 class="text-lg font-bold">Carrito de compras</h5>
          </div>
          <div class="card-body p-4">
            <table class="table-auto w-full">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="px-4 py-2">ID</th>
                  <th
                    scope="col"
                    class="px-4 py-2">Imagen</th>
                  <th
                    scope="col"
                    class="px-4 py-2">Nombre</th>
                  <th
                    scope="col"
                    class="px-4 py-2">Precio</th>
                  <th
                    scope="col"
                    class="px-4 py-2">Cantidad</th>
                  <th
                    scope="col"
                    class="px-4 py-2">Subtotal</th>
                  <th
                    scope="col"
                    class="px-4 py-2">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="ped: ${carrito}">
                  <td
                    th:text="${ped.productoEntity.productoId}"
                    class="px-4 py-2"></td>
                  <td class="px-4 py-2"><img
                    width="50"
                    height="50"
                    class="w-20 h-20 object-cover"
                    th:src="${ped.productoEntity.urlImagen}"
                    alt=""></td>
                  <td
                    th:text="${ped.productoEntity.nombre}"
                    class="px-4 py-2"></td>
                  <td
                    th:text="'S/' + ${#numbers.formatDecimal(ped.productoEntity.precio, 1, 2)}"
                    class="px-4 py-2"></td>
                  <td class="px-4 py-2">
                    <form
                      th:action="@{/modificar_cantidad}"
                      method="post"
                      class="inline">
                      <input
                        type="hidden"
                        name="prodId"
                        th:value="${ped.productoEntity.productoId}">
                      <button
                        type="submit"
                        name="accion"
                        value="decrementar"
                        class="btn btn-sm btn-warning">-</button>
                      <span th:text="${ped.cantidad}"></span>
                      <button
                        type="submit"
                        name="accion"
                        value="incrementar"
                        class="btn btn-sm btn-success">+</button>
                    </form>
                  </td>
                  <td
                    th:text="'S/ ' + ${#numbers.formatDecimal(ped.cantidad * ped.productoEntity.precio, 1, 2)}"
                    class="px-4 py-2"></td>
                  <td class="px-4 py-2">
                    <form
                      th:action="@{/eliminar_producto}"
                      method="post">
                      <input
                        type="hidden"
                        name="prodId"
                        th:value="${ped.productoEntity.productoId}">
                      <button
                        type="submit"
                        class="btn btn-error">Eliminar</button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-right mt-4">
              <b><span
                  th:text="'Total: S/' + ${#numbers.formatDecimal(total, 1, 2)}"></span></b>
            </div>
          </div>
          <div class="card-footer flex justify-end p-4 border-t">
            <a
              th:if="${carrito.size() > 0}"
              th:href="@{/guardar_factura}"
              class="btn btn-primary">Confirmar compra</a>
          </div>
        </div>
        <!-- Fin del Carrito de compras -->
      </details>
      <!-- Dropdown de usuario -->
      <div class="dropdown dropdown-end avatar">
        <div
          tabindex="0"
          role="button"
          class="w-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img
            th:src="${'/usuario_foto/' + foto}"
            alt="Profile">
        </div>
        <ul
          tabindex="0"
          class="dropdown-content menu flex flex-col gap-2 bg-base-100 rounded-box w-72 z-[1] p-2 shadow">
          <li
            class="btn btn-ghost"
            th:text="'Nombre: ' + ${nombre}"></li>
          <li
            class="btn btn-ghost"
            th:text="'Celular: ' + ${celular}"></li>
          <li
            class="btn btn-ghost"
            th:text="'Correo: ' + ${correo}"></li>
          <li>
            <a
              class="btn btn-error whitespace-nowrap"
              th:href="@{/logout}"
              role="button">Cerrar sesión</a>
          </li>
        </ul>
      </div>
      <!-- Fin del Dropdown de usuario -->
    </div>
  </nav>
  <!-- Contenido (lista de productos) del menú -->
  <div class="mt-5 px-5">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      <div th:each="producto: ${productos}">
        <div class="card bg-base-300 shadow-xl">
          <img
            th:src="${producto.urlImagen}"
            class="object-cover h-48 w-full"
            alt="Product Image">
          <div class="card-body">
            <form
              th:action="@{/agregar_producto(showCart=true)}"
              th:object="${pedido}"
              method="post">
              <h5
                class="card-title text-gray-300"
                th:text="${producto.nombre}"></h5>
              <div class="flex flex-col py-5">
                <p class="text-3xl font-bold">
                  S/
                  <span th:text="${producto.precio}"></span>
                </p>
                <p class="text-gray-400 text-sm">
                  (
                  <span th:text="${producto.stock}"></span>
                  unidades)
                </p>
              </div>
              <div class="flex items-center mt-4">
                <button
                  type="button"
                  onclick="if (parseInt(cant.value) > 1) cant.value = parseInt(cant.value) - 1"
                  class="btn btn-error">-</button>
                <input
                  required
                  name="cant"
                  value="1"
                  class="text-2xl bg-transparent p-2 mx-2 w-16 text-center grow"
                  type="number"
                  id="cant">
                <button
                  type="button"
                  onclick="cant.value = parseInt(cant.value) + 1"
                  class="btn btn-success">+</button>
              </div>
              <input
                name="prodId"
                type="hidden"
                th:value="${producto.productoId}">
              <button
                type="submit"
                class="btn btn-primary btn-block mt-4">Agregar
                al carrito</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del contenido del menú -->
  <dialog
    id="modal_compra_exitosa"
    class="modal">
  <div class="modal-box">
    <h3 class="text-2xl font-bold">Compra exitosa</h3>
    <p class="py-4">¡Felicidades! Tu compra ha sido realizada con
      éxito.</p>
    <a
      target="_blank"
      th:href="@{/generar_pdf}"
      class="btn btn-info mt-3">Imprimir boleta</a>
    <div class="modal-action">
      <button
        class="btn"
        onclick="document.getElementById('modal_compra_exitosa').close()">Cerrar</button>
    </div>
  </div>
  </dialog>
  <!-- Lista de participantes -->
  <footer class="mt-5 p-5 bg-base-200">
    <p class="text-lg">🚀 Proyecto LPII por:</p>
    <ul class="text-gray-400">
      <li>Anthony Christian Ramos Rojas - I202223055</li>
      <li>Diego Alejandro Luna Tarapa - I202223044</li>
      <li>Diego Alessandro Rios Villegas - I202220654</li>
      <li>Fabrizio Eduardo Fournier Soto - I202225488</li>
      <li>Yumi Andrea Takenaka Nakasone - I202222759</li>
    </ul>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
      const cartElement = document.getElementById('carritoDropdown')
      const urlParams = new URLSearchParams(window.location.search);
      
      // Muestra el modal de compra realizada
      if (urlParams.has('showModal') && urlParams.get('showModal') === 'true') {
        document.getElementById('modal_compra_exitosa').showModal();
        triggerConfetti();
      }
      
      // Muestra el carrito de compras
      if (urlParams.has('showCart') && urlParams.get('showCart') === 'true') {
        cartElement.open = true;
      }
    });
  
  // Dispara la animación de confeti
  function triggerConfetti() {
    const duration = 5 * 1000;
    const animationEnd = Date.now() + duration;
    const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

    function randomInRange(min, max) {
      return Math.random() * (max - min) + min;
    }

    const interval = setInterval(function() {
      const timeLeft = animationEnd - Date.now();

      if (timeLeft <= 0) {
        return clearInterval(interval);
      }

      const particleCount = 50 * (timeLeft / duration);
      
      confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
      confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
    }, 250);
  }
</script>
</body>
</html>